<div class="w3-row w3-padding-16">
  <div class="w3-col s12 m4 l4">
    <div class="w3-container">
      <div class="w3-card-2 w3-white">
        <div class="w3-container">
          <div class="project-card-title">
            <h3><strong>Project:</strong> {{ project.name }}</h3>
          </div>
          <div class="project-card-content">
            <p class="description">{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-container w3-margin-top">
      <div class="w3-card-2 w3-white w3-padding-8 w3-margin-top w3-margin-bottom">
        <form name="keyForm" class="w3-container">
          <h3>Create key</h3>
          <div class="w3-row">
            <label for="provider" class="w3-label">
              Provider
              <span ng-show="keyForm.provider.$error.required">*</span>
            </label>
            <select name="provider"
                    id="provider"
                    class="w3-input"
                    ng-model="key.provider"
                    ng-options="item.value as item.name for item in providersList">
                    <option value="">-Select a provider-</option>
            </select>
          </div>
          <div class="w3-row">
            <label for="email" class="w3-label ">
              Account
              <span ng-show="keyForm.email.$error.required">*</span>
              <span ng-show="keyForm.email.$error.email">*</span>
            </label>
            <input type="email"
                    class="w3-input"
                    id="email"
                    name="email"
                    ng-model="key.email"
                    autocomplete="off"
                    required>
          </div>
          <div class="w3-row">
            <label for="password" class="w3-label">
              Password
              <span ng-show="keyForm.password.$error.required">*</span>
            </label>
            <input type="password"
                    class="w3-input"
                    id="password"
                    name="password"
                    ng-model="key.password"
                    autocomplete="off"
                    required>
          </div>
          <div class="w3-row">
            <label for="description" class="w3-label">
              Description
            </label>
            <input type="text"
                    class="w3-input"
                    id="description"
                    name="description"
                    autocomplete="off"
                    ng-model="key.description">
          </div>
          <button class="w3-btn w3-padding-xlarge w3-ripple w3-indigo w3-margin-top w3-right"
                  ng-disabled="!keyForm.$valid"
                  ng-click="createKey()"><i class="fa fa-plus"></i> Add</button>
        </form>
      </div>
    </div>
  </div>
  <div class="w3-col s12 m8 l8">
    <div class="w3-container" >
      <ul class="w3-ul w3-card-2 w3-white">
        <li ng-repeat="key in project.keys">
          <div class="key-container">
            <div class="provider">
              <i class="fa {{ key.provider }} w3-xxlarge"></i>
            </div>
            <div class="content">
              <span><strong>Account :</strong> <a href="#">{{ key.email }}</a></span>
              <span class="date">{{ key.created | date }}</span>
            </div>
            <div class="action">
              <a class="w3-padding" ui-sref="home.key({ _projectId : project._id, _keyId : key._id })"><i class="fa fa-eye"></i></a>
            </div>
            <div class="action">
              <span class="w3-closebtn w3-padding" ng-click="deleteKey(key._id, $index)"><i class="fa fa-times"></i></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="w3-container" ng-hide="project.keys.length > 0">
      <div class="w3-card-2 w3-pale-blue w3-container w3-padding-16">
        <h3>No keys</h3>
        <p>Please add a new a key</p>
      </div>
    </div>
  </div>
</div>
