<div class="w3-row w3-padding-16">
  <div class="w3-col s12 m6 l6">
    <div class="w3-container w3-margin-bottom">
      <div class="w3-card-2 w3-white">
        <div class="w3-container">
          <div class="key-card-title">
            <h3 class="title"><strong>Profile</strong> </h3>
            <a class="clickable w3-ripple"><i class="fa fa-edit w3-large"></i></a>
          </div>
          <div class="key-card-content">
            <ul class="w3-ul w3-large">
              <li><strong>Email : </strong>{{ user.email }}</li>
              <li><strong>Name : </strong>{{ user.name }}</li>
              <li><strong>Lastname : </strong>{{ _hasLastName(user.lastname) }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-col s12 m6 l6">
    <div class="w3-container">
      <div class="w3-card-2 w3-white">
        <div class="w3-container">
          <div class="key-card-title">
            <h3 class="title"><strong>Update password</strong></h3>
          </div>
          <div class="key-card-content">
            <form name="updatePasswordForm"
                  class="w3-container w3-padding-12"
                  novalidate>
              <div class="w3-row">
                <label class="w3-label">
                  Old password
                  <span ng-show="updatePasswordForm.oldPassword.$error.required">*</span>
                  <span ng-show="updatePasswordForm.oldPassword.$error.minlength">min (6)</span>
                  <span ng-show="updatePasswordForm.oldPassword.$error.maxlength">max (10)</span>
                </label>
                <input class="w3-input"
                       type="text"
                       id="oldPassword"
                       name="oldPassword"
                       ng-minlength="6"
                       ng-maxlength="10"
                       ng-model="userForm.oldPassword"
                       required>
              </div>
              <div class="w3-row">
                <label class="w3-label">
                  New password
                  <span ng-show="updatePasswordForm.newPassword.$error.required">*</span>
                  <span ng-show="updatePasswordForm.newPassword.$error.minlength">min (6)</span>
                  <span ng-show="updatePasswordForm.newPassword.$error.maxlength">max (10)</span>
                </label>
                <input class="w3-input"
                       type="text"
                       id="newPassword"
                       name="newPassword"
                       ng-minlength="6"
                       ng-maxlength="10"
                       ng-model="userForm.newPassword"
                       required>
              </div>
              <button class="w3-btn w3-padding-xlarge w3-ripple w3-gray w3-margin-top w3-left"
                      ng-disabled="!updatePasswordForm.$dirty"
                      ng-click="cleanForm()">
                Cancel
              </button>
              <button class="w3-btn w3-padding-xlarge w3-ripple w3-indigo w3-margin-top w3-right"
                      ng-disabled="!updatePasswordForm.$valid">
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
